:root {
    --primary-color: #467;
    --secondary-color: #677;
}
html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
body {
    
}
*, *:before, *:after {
	box-sizing: border-box;
}
.f {
    display: flex;
}
.f-co {
    display: flex;
    flex-direction: column;
}
.f-j-c {
    display: flex;
    justify-content: center;
}
.f-a-c {
    display: flex;
    align-items: center;
}
.f-ja-c {
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-j-co-c {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.f-a-co-c {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.f-ja-co-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.txt-c {
    text-align: center;
}
.mrg-auto {
    margin: auto;
}
main {
    background-image: url(../media/background-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 100vh;
    gap: 13rem;
    padding: 0 20rem;
    color: #fff;
    position: relative;
    scroll-snap-align: start;
}
main::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.441);
    top:0;left: 0;right: 0;bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.main_right {
    z-index: 10;
}
.main_left {
    z-index: 15;
}
.main_left img {
    width: 38rem;
    height: 38rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50%;
    position: absolute;
    transition: transform .5s ease;
    cursor: cell;
}
.main_left-img-container {
    width: 38rem;
    height: 38rem;
    border-radius: 50%;
    border: solid .3rem rgb(191, 191, 191);
    position: relative;
    overflow: hidden;
}
.main_left-img-container img:hover {
    transform: scale(1.4);
}
.main_right img {
    height: 9rem;
    padding-bottom: 2.5rem;
}
.main_right p {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0;
    margin-top: -.3rem;
    letter-spacing: .2rem;
}
.main_right nav {
    gap: 2rem;
}
.main_right nav button {
    width: 18rem;
    background-color: #ffffff00;
    border: solid .1rem rgb(4, 131, 8);
    box-shadow: .1rem .1rem .4rem rgb(0, 71, 4);
    border-radius: .5rem;
    padding: 1.4rem 7rem;
    font-size: 1.3rem;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    transition: background-color .3s;
    cursor: pointer;
}
.main_right nav button:hover {
    background-color: rgba(4, 131, 8, 0.699);
}
.main-right-desc {
    line-height: 1.5;
    letter-spacing: .2rem;
}
.section-objt {
    background-image: url(../media/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 20rem;
    height: 100vh;
    scroll-snap-align: start;
    color: #fff;
    position: relative;
    gap: 5rem;
}
.section-objt::before {
    content: "";
    width: 100%;
    height: 100%;
    top:0;right: 0;left: 0;bottom: 0;
    background-color: rgba(0, 0, 0, 0.326);
    position: absolute;
}
.objt_content {
    z-index: 10;
}
.objt_content h2 {
    font-size: 3.8rem;
    text-transform: uppercase;
    margin-top: 0;
}
.objt_content p {
    font-size: 1.6rem;
    max-width: 65rem;
}
.objt_forests {
    gap: 6rem;
    z-index: 20;
}
.objt-forest p {
    font-size: 1.4rem;
    font-weight: bolder;
}
.objt-forest-img-container {
    overflow: hidden;
    width: 19rem;
    height: 15.5rem;
    border-radius: .5rem;
}
.objt-forest img {
    width: 100%;
    height: 100%;
    object-position: cover;
    transition: transform .3s ease;
    cursor: cell;
}
.objt-forest img:hover {
    transform: scale(1.2);
}