:root {
    --primary-color: #467;
    --secondary-color: #677;
}
html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
body {
    
}
*, *:before, *:after {
	box-sizing: border-box;
}
.f {
    display: flex;
}
.f-co {
    display: flex;
    flex-direction: column;
}
.f-j-c {
    display: flex;
    justify-content: center;
}
.f-a-c {
    display: flex;
    align-items: center;
}
.f-ja-c {
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-j-co-c {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.f-a-co-c {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.f-ja-co-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.txt-c {
    text-align: center;
}
.mrg-auto {
    margin: auto;
}
header {
    height: 7rem;
    width: 100%;
    padding: .5rem 2rem;
    justify-content: space-between;
    position: relative;
    position: fixed;
    z-index: 30;
}
header::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.326);
    top:0;left: 0;right: 0;bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.header_logo-container {
    z-index: 20;
}
.header_logo-container img {
    height: 5rem;
}
.header_logos-container {
    z-index: 30;
    gap: 1rem;
}
.header_logos-container img {
    height: 3.5rem;
}
.header_logos-container img:first-of-type {
    height: 4.5rem;
}
header {
    background-image: url(../media/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main {
    background-image: url(../media/background-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -5rem;
    background-attachment: fixed;
}

main {
    min-height: 100vh;
    gap: 13rem;
    padding: 0 20rem;
    padding-top: 7rem;
    color: #fff;
    position: relative;
    scroll-snap-align: start;
}
main::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.326);
    top:0;left: 0;right: 0;bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.main_right {
    z-index: 10;
}
.main_left {
    z-index: 15;
}
.main_left img {
    width: 38rem;
    height: 38rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50%;
    position: absolute;
    transition: transform .5s ease;
    cursor: cell;
}
.main_left-img-container {
    width: 38rem;
    height: 38rem;
    border-radius: 50%;
    border: solid .3rem rgb(191, 191, 191);
    position: relative;
    overflow: hidden;
}
.main_left-img-container img:hover {
    transform: scale(1.4);
}
.main_right h1 {
    font-size: 4rem;
    padding-bottom: 1.5rem;
    color: #efefef;
    text-shadow: .2rem .2rem .4rem rgb(255, 162, 1);
}
.main_right p {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0;
    margin-top: -.3rem;
    letter-spacing: .2rem;
}
.main-right-desc {
    line-height: 1.5;
    letter-spacing: .2rem;
}
/* --- Media Queries for Responsive Design --- */
@media (max-width: 1200px) {
    main {
        padding: 0 15rem;
        gap: 10rem;
    }
    .main_left img {
        width: 30rem;
        height: 30rem;
    }
    .main_left-img-container {
        width: 30rem;
        height: 30rem;
    }
    .main_right nav button {
        width: 15rem;
    }
}
@media (max-width: 768px) {
    main {
        padding: 0 8rem;
        gap: 5rem;
    }
    .main_left img {
        width: 25rem;
        height: 25rem;
    }
    .main_left-img-container {
        width: 25rem;
        height: 25rem;
    }
    .main_right nav button {
        width: 13rem;
        padding: 1.2rem 5rem;
    }
    .main_right p {
        font-size: 1.1rem;
        margin-bottom: 4.5rem;
    }
}
@media (max-width: 576px) {
    main {
        flex-direction: column;
        padding: 0 3rem;
        gap: 3rem;
        height: auto;
    }
    .main_left img {
        width: 20rem;
        height: 20rem;
    }
    .main_left-img-container {
        width: 20rem;
        height: 20rem;
    }
    .main_right p {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
}
.section-objt {
    background-image: url(../media/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 6rem;
    padding-top: 7rem;
    min-height: 100vh;
    scroll-snap-align: start;
    color: #fff;
    position: relative;
    gap: 5rem;
}
.section-objt::before {
    content: "";
    width: 100%;
    height: 100%;
    top:0;right: 0;left: 0;bottom: 0;
    background-color: rgba(0, 0, 0, 0.326);
    position: absolute;
}
.objt_content {
    z-index: 10;
}
.objt_content h2 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: 0;
}
.objt_content p {
    font-size: 1.9rem;
    min-width: 32rem;
    max-width: 65rem;
    line-height: 1.3;
}
.section-forests {
    background-image: url(../media/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 6rem;
    padding-top: 7rem;
    scroll-snap-align: start;
    color: #fff;
    position: relative;
}
.section-forests::before {
    content: "";
    width: 100%;
    height: 100%;
    top:0;right: 0;left: 0;bottom: 0;
    background-color: rgba(0, 0, 0, 0.326);
    position: absolute;
}
.section-forests h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    z-index: 10;
}
.gye-forests-menu {
    height: 100%;
    gap: 2rem;
}
.forests-gye-img {
    height: 100%;
    z-index: 20;
}
.forests-gye-img img {
    height: calc(100vh - 17rem);
    border-radius: .5rem;
}

.objt_forests {
    height: 100%;
    width: 50vw;
    gap: 2rem;
    z-index: 20;
    flex-wrap: wrap;
}
.objt-forest p {
    font-size: 1.4rem;
    font-weight: bolder;
}
.objt-forest-img-container {
    overflow: hidden;
    width: 19rem;
    height: 15rem;
    border-radius: .5rem;
}
.objt-forest img {
    width: 100%;
    height: 100%;
    object-position: cover;
    transition: transform .3s ease;
    cursor: cell;
}
.objt-forest img:hover {
    transform: scale(1.2);
}
.section-recom {
    background-image: url(../media/background.png);
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 8rem;
    padding-top: 7rem;
    scroll-snap-align: start;
    color: #fff;
    position: relative;
    gap: 2rem;
}
.section-recom::before {
    content: "";
    width: 100%;
    height: 100%;
    top:0;right: 0;left: 0;bottom: 0;
    background-color: rgba(0, 0, 0, 0.326);
    position: absolute;
}
.section-recom h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    z-index: 10;
}
.recom-info {
    gap:3rem;
    font-size: 2.1rem;
    line-height: 1.3;
    flex-wrap: wrap;
    z-index: 20;
}
.recom-info ol {
    width: 50vw;
}
.recom-info img {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    border-radius: 50%;
}
.section-map-info {
    background-image: url(../media/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
    MIN-height: 100vh;
    padding: 0 3rem;
    padding-bottom: 1rem;
    padding-top: 7rem;
    position: relative;
    color: #fff;
    flex-wrap: wrap;
}
.section-map-info::before {
    content: "";
    width: 100%;
    height: 100%;
    top:0;right: 0;left: 0;bottom: 0;
    background-color: rgba(0, 0, 0, 0.326);
    position: absolute;
}
.map-info {
    z-index: 10;
    min-width: 38rem;
    max-width: 50vw;
    font-size: 1.7rem;
    padding: 0 3rem;
}

.map-image {
    z-index: 20;
    height: calc(100% - 5rem);
}

.map-image h3 {
    font-size: 2rem;
    margin-top: 0;
    text-transform: uppercase;
}
.map-image img {
    height: calc(100vh - 13rem);
    border-radius: 1rem;
}
.section-map {
    background-image: url(../media/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
    height: 100vh;
    padding-top: 7rem;
    position: relative;
    padding-bottom: 1rem;
}
.section-map::before {
    content: "";
    width: 100%;
    height: 100%;
    top:0;right: 0;left: 0;bottom: 0;
    background-color: rgba(0, 0, 0, 0.326);
    position: absolute;
}
.section-map div {
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    z-index: 20;
    overflow: hidden;
}
.section-map iframe {
    height: calc(100% - 7rem);
    padding: 0 2rem;
}
footer {
    scroll-snap-align: start;
    background-color: rgb(18, 18, 18);
    height: 18rem;
}
footer img {
    height: 9rem;
}